<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

<div class="container">

<a class="navbar-brand fw-bold" href="/">
CinemaGo
</a>
<a class="navbar-brand" href="https://www.tbcacademy.ge/" target="_blank">
    <img src="static/pictures/Picture1.png" alt="TBC Logo" width="50">

<button class="navbar-toggler"
data-bs-toggle="collapse"
data-bs-target="#menu">

<span class="navbar-toggler-icon"></span>

</button>

<div class="collapse navbar-collapse"
id="menu">

<div class="navbar-nav ms-auto">

<a class="nav-link" href="/">Home</a>
<a class="nav-link" href="/movies">Movies</a>
<a class="nav-link" href="/login">Login</a>
<a class="nav-link" href="/register">Register</a>

</a>

</div>
</div>
</div>

</nav>